# Server deployment port
PORT=4000

# MongoDB Connection String (Atlas URI or Local installation)
MONGODB_URI=mongodb://127.0.0.1:27017/watchparty

# Secret token key for JWT signatures (Choose a long, random string in production)
JWT_SECRET=syncpartysecrettokenkey
